  
  /* //table */
  .styled-table {
    margin: 25px 0;
    font-family: sans-serif;
    width: 600px;
    height: 300px;
    margin-left: -30px;
    margin-top: 100px;
    border: px solid grey;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white;
    font-size: 1em;
}

.styled-table thead tr {
  background-color: #181a2b;
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
  padding: 15px 20px;
}



.styled-table tbody tr:nth-of-type(even) {
  background-color: #193761;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #193761;
}

/* .paginationStyle
{
  display: inline-block;
}

.paginationStyle button {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginationStyle button.active
{
  background-color: #1f1d1d;
  color: white;
  border-radius: 8px;
} */
.paginationStyle {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.paginationStyle button {
  background-color:  #193761;
  border: 1px solid #dddddd;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

.paginationStyle button.active {
  background-color: #6da5e5;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bolder;
}

.paginationStyle button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.paginationStyle .arrow-button {
  background-color: transparent;
  border: none;
}

.paginationStyle .arrow-button .arrow {
  font-size: 1.4rem;
}